<ul style="list-style-type: none;">
  <li>
    <mat-form-field>
      <mat-label>y</mat-label>
      <input matInput placeholder="y" [(ngModel)]="y" autocomplete="disabled">
    </mat-form-field>
  <li>
    <mat-form-field>
      <mat-label>t0</mat-label>
      <input matInput placeholder="t0" [(ngModel)]="t0" autocomplete="disabled">
    </mat-form-field>
  </li>
  <li>
    <mat-form-field>
      <mat-label>t</mat-label>
      <input matInput placeholder="t" [(ngModel)]="t" autocomplete="disabled">
    </mat-form-field>
  </li>
  <li>
    <mat-form-field>
      <mat-label>h</mat-label>
      <input matInput placeholder="h" [(ngModel)]="h" autocomplete="disabled">
    </mat-form-field>
  </li>
  <li>
    <mat-form-field>
      <mat-label>name</mat-label>
      <input matInput placeholder="name" [(ngModel)]="name" autocomplete="disabled">
    </mat-form-field>
  </li>
  <li>
    <mat-form-field>
      <mat-label>alpha</mat-label>
      <input matInput placeholder="alpha" [(ngModel)]="alpha" autocomplete="disabled">
    </mat-form-field>
  </li>
  <li>
    <mat-form-field>
      <mat-label>a</mat-label>
      <input matInput placeholder="a" [(ngModel)]="a" autocomplete="disabled">
    </mat-form-field>
  </li>
  <li>
    <mat-form-field>
      <mat-label>b</mat-label>
      <input matInput placeholder="b" [(ngModel)]="b" autocomplete="disabled">
    </mat-form-field>
  </li>
  <li>
    <mat-form-field>
      <mat-label>e</mat-label>
      <input matInput placeholder="e" [(ngModel)]="e" autocomplete="disabled">
    </mat-form-field>
  </li>
  <li>
    <mat-form-field>
      <mat-label>p</mat-label>
      <input matInput placeholder="p" [(ngModel)]="p" autocomplete="disabled">
    </mat-form-field>
  </li>
  <li>
    <br>
    <button mat-flat-button color="primary" (click)="addFactory()">Додати підприємство/Оновити</button>
  </li>
  <li><br>
    <button mat-flat-button color="accent" (click)="showChart()">Ручний розрахункок</button>
  </li>
  <li><br>
  <button mat-flat-button color="accent" (click)="autoCalc()">Автоматичний розрахунок</button>
  </li>
  <li>
    <button mat-flat-button color="primary" (click)="updateGraph()">Оновити візуалізацію</button>
  </li>
</ul>
<ul
  style="display: flex; justify-content: center;  position: fixed; top: 0; left: 0; width: 100%; height: 23px; list-style-type: none;">
  <li *ngFor="let factory of factories; index as i;">
    <ul style="list-style-type: none;">
      <li>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="name" [value]="factory.name" disabled>
        </mat-form-field>
      </li>
      <li>
        <mat-form-field>
          <mat-label>alpha</mat-label>
          <input matInput placeholder="alpha" [value]="factory.alpha" disabled>
        </mat-form-field>
      </li>
      <li>
        <mat-form-field>
          <mat-label>a</mat-label>
          <input matInput placeholder="a" [value]="factory.a" disabled>
        </mat-form-field>
      </li>
      <li>
        <mat-form-field>
          <mat-label>b</mat-label>
          <input matInput placeholder="b" [value]="factory.b" disabled>
        </mat-form-field>
      </li>
      <li>
        <mat-form-field>
          <mat-label>e</mat-label>
          <input matInput placeholder="e" [value]="factory.e" disabled>
        </mat-form-field>
      </li>
      <li>
        <mat-form-field>
          <mat-label>p</mat-label>
          <input matInput placeholder="p" [value]="factory.p" disabled>
        </mat-form-field>
      </li>
      <li>
        <br>
        <button mat-flat-button color="accent" (click)="changeFactory(i)" [name]="factory.name">Редагувати</button>
      </li>
      <li>
        <br>
        <button mat-flat-button color="warn" (click)="deleteFactory(i)">Видалити</button>
      </li>
    </ul>
    <br>
  </li>
</ul>
<div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
